.card-image img{
    width: 200px;
    height: 200px;
}

.card {
    width: 230px;
    margin: 20px 10px;
    height: 100%;
}

.card:hover{
    box-shadow: 1px 2px 6px 5px #cdcdcd;
        transform: translateX(-2px) translateY(-6px);
        /* transform: skewY(-8deg); */

}

.card-image{
    padding: 10px;
}

.card-footer{
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    color: #f5deb3;
    background-image: linear-gradient(to right bottom, #ef5350, #f06257, #f06f5e, #f17b66, #f1876f);
    display: flex;
    align-items: center;
}

.card-footer:hover{
    cursor: pointer;
}

.spinerClass{
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fav-icon{
    margin: 10px 10px 0px 10px;
    color: #ef5350;
}

.secondary-cl{
    color: #f5deb3;
}

.icon-holder{
    width: 40px;
    height: 40px;
}

.info-icon{
    color: #2b6db5;
    margin-left: auto;
}