.compare-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.compare-header{
    display: flex;
    width: 100%;
    justify-content: center;
}

a {
    margin-bottom: 5px;
    padding: 8px;
}

.content{
    display: grid;
    grid-template-columns: 200px 200px 200px;
}